* {
    box-sizing: border-box;
}

#todo {
    position: relative;
    width: 30em;
    margin: 0 auto;
}

#header {
    margin-bottom: 3em;
}

.input-group {
    margin-top: 3em;
}

h1 {
    font-family: Arial;
    font-size: 5em;
    text-align: center;
    color: #1A9E76;
}

#main {
    position: relative;
}

.view {
    display: inline;
}

#todo-list>li {
    margin-bottom: 1em;
}

.edit {
    display: none;
}

.editing {
    display: absolute;
}

#footer {
    margin-top: 2em;
    width: 30em;
}

#top-footer {
    margin: 0 auto;
    width: 15.5em;
    margin-bottom: 1em;
}

#top-footer>a {
    margin: 0 1em;
}

#bottom-footer {
    margin: 0 auto;
    width: 21em;
}

#bottom-footer>p {
    margin: 0 1em;
    display: inline;
}

#delete-completed {
    display: inline;
    box-sizing: border-box;
    margin: 0 1em;
}
